/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

html {
  background-color: #fafafa;
}

.pb-1 {
  padding-bottom: 1rem;
}

body {
  padding:0px;
  margin:0px;
}

