/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

html {
  background-color: #fafafa;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pa-1 {
  padding:1rem;
}

body {
  padding:0px;
  margin:0px;
}

mat-icon {
  line-height: 26px !important;
}

mat-card {
  font-family: Cantarell !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) !important;
}

.clickable {
  cursor:pointer;
}

.red {
  color: #db2828;

  &:hover {
    color: yellow;
  }
}

.orange {
  color: #cf590c;
}

.yellow {
  color: #fbbd08
}

.olive {
  color: #b5cc18;
}

.green {
  color: #21ba45;
}

.teal {
  color: #00b5ad;
}

.blue {
  color: #2185d0;
}

.violet {
  color: #6435c9;
}

.purple {
  color: #a333c8;
}

.pink {
  color: #e03997;
}

.brown {
  color: #a5673f;
}

.grey {
  color: #767676;
}

.black {
  color: #1b1c1d;
}
