mat-card {
  padding: 5px;
}

.product-img {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.product-name {
  font-size: 0.8em;
  padding-bottom: 10px;
}

.product-details {
  font-size: 0.8em;
}

.product-price {
  color: #3f51b5;
  font-weight: 600;
}

.product-img.fullwidth {
  width: 30px;
  height: 30px;
}

.product-name.fullwidth {
  font-size: 0.9em;
  font-weight: 700;
  padding-bottom: 0px;
}

.product-price.fullwidth {
  color: black;
  font-weight: 100;
}

.qty-input {
  font-size: 0.9rem;
  padding: 0.6rem 0;
  text-align: center;
  z-index: 2;
  cursor: text;
  border: 0;
  background: rgb(243, 243, 242);
  width: 100%;
  outline: 0;
  border-radius: 2px;
}
