<div class="welcome-message-container" >
  <mat-card class="welcome-card" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center">
    <img class="welcome-img" src="/assets/en-welcome.jpg" height="auto" fxFlex = "35" fxFlex.xs="100">
    <div class="welcome-message" fxFlex>
      <b>Welcome to the Jizan Perfumes Price Lists portal.</b>
      <p>In alignment with our ongoing efforts to improve the customer service, we are happy to introduce this Customer Price List portal. We hope that this website will serve well in increasing your reach to our wide portfolio of stocks.</p>
      <p>Thank you for choosing Jizan!</p>
    </div>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutWrap fxLayoutAlign="start start">
  <ij-product [type]="'compact'" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex="25" [data]="product" *ngFor="let product of products"></ij-product>
</div>
